body {
    margin: 50px auto;
    width:700px;
    text-align: center;
}

.box {
    width:400px;
    margin:auto;
}

thead th {
    text-align: center;
    width: 150px;
}

.productInfo {
	border: 0px;
}

.functionBtn {
    margin-bottom:30px;
    float:left;
}

.previewImage {
	width: 15%;
	height: 10%;
}

#userStatus {
	width:400px;
	float:left;
	text-align: left;
}

#listBtn {
    float:right;
    text-align:right;
}

.productImageBox {
	width: 150px;
	height: 150px;
	text-align: center;
}

.productImage {
	width: 150px;
	height: 150px;
	max-width: 150px;
	vertical-align: center;
	text-align: center;
}

.functionBtnOnLogin {
    width:200px;
    margin-bottom:30px;
    float:right;
    text-align:right;
}

h2 {
    margin-botton:30px;
    margin-top:0;
    float:left;
}

.box {
    float:left;
    width:700px;
    margin:10px;
}

#productImage {
    float:left;
    width:300px;
}

#buyBtn {
    margin : 20px;
}

#productInfo {
    float:left;
    text-align: left;
    margin-left:40px;
    font-size:15pt;
}

#productDetailsBox {
    float:left;
    text-align: left;
}

#productDetailsInfo {
    font-size: 15pt;
}

.writeBtn {
    margin:20px;
}

#file {
    display:none;
}

.writeItem {
    margin: 5px 0;
}